html, body, #root {
  background-color: lightskyblue;
  color: black;
  height: 100%;
  font-family: monospace;
  font-size: 15px;
}

a, a:visited {
  color: blue;
}

h1, h2, h3, h4, h5 {
  margin: .5em 0;
}
hr {
  border: 1px dashed black;
  opacity: 0.5;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.two-column {
  width: 100%;
  display: flex;
  flex: 2;
  /* align-items: center; */
  justify-content: center;
}

.two-column > div {
  /* width: 90vh; */
  /* border: 1px solid black; */
  width: 100%;
  padding: 10px 50px;
}

.track-art {
  max-height: 100%;
  max-width: 100%;
}

#waveforms {
  margin: auto;
}


.ws-player {
  display: flex;
  /* width: 100%; */
  background-color: #eee;
  padding: 10px;    
  /* align-items: center;
  justify-content: center; */

  margin-top: 30px;
}


.ws-player button {
  height: 20vh;
  min-width: 20vh;
  font-size: 100px;
  border: 1px solid grey;
  margin: 20px;
  cursor: pointer;
  display: table-cell; vertical-align: middle;
  position:relative;
  top: 10px;
}
.ws-player button:hover {
  background-color: yellow;
}
.ws-player button:focus {
  outline: 0;
}

.animate {
  -webkit-animation: myfirst 3s;
  animation: myfirst 3s;
}

@keyframes myfirst {
  0% {background: yellow;}
 /* 40% {background: gray;} */
 50% {background: green;}
100% {background: yellow;}
}